<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huahansoft.hhsoftlibrarykit">

    <application android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".picture.HHSoftPictureSelectorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".picture.HHSoftPictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name=".picture.HHSoftPicturePreviewActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>

