<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.lyb.purchasesystem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />

    <permission
            android:name="getui.permission.GetuiService.${applicationId}"
            android:protectionLevel="normal" />
    <application
            android:name=".BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:maxAspectRatio="2.4"
            android:resizeableActivity="true"

            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="LockedOrientationActivity">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 请根据您当前自定义的 PushService 名称路径进行配置-->
        <service
                android:name="com.lyb.purchasesystem.server.GeTuiService"
                android:exported="true"
                android:label="PushService"
                android:process=":pushservice" />
        <service
                android:name="com.lyb.purchasesystem.server.DemoIntentService"
                android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
                android:name="android.notch_support"
                android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
        <meta-data
                android:name="android.max_aspect"
                android:value="2.4" />
        <!--        <activity android:name=".ui.SplashActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <!--  首页-->
        <activity
                android:name=".ui.main.MainActivity"
                android:screenOrientation="portrait" />
        <!-- 登录页面-->
        <activity
                android:name=".ui.user.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
                android:name=".ui.TestListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 添加意见-->
        <activity
                android:name=".ui.main.AddCommentActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  意见箱员工页面-->
        <activity
                android:name=".ui.suggestions.SuggestionsBoxActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  意见箱领导页面-->
        <activity
                android:name=".ui.suggestions.SuggestionsBoxLeaderActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  意见详情页面-->
        <activity
                android:name=".ui.suggestions.SuggestionsInfoActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  我的意见列表-->
        <activity
                android:name=".ui.suggestions.MineSuggestionsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  随手拍首页-->
        <activity
                android:name=".ui.clapatwill.ClapAtWillListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  发布随手拍-->
        <activity
                android:name=".ui.clapatwill.AddClapAtWillActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  随手拍详情-->
        <activity
                android:name=".ui.clapatwill.ClapAtWillDetailActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  提交处理意见-->
        <activity
                android:name=".ui.clapatwill.SubmitCompleteInfoActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  待我处理-->
        <activity
                android:name=".ui.clapatwill.WaitMineDealClapAtWillListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  我的随手拍-->
        <activity
                android:name=".ui.clapatwill.MineClapAtWillListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  修改密码-->
        <activity
                android:name=".ui.user.UserEditPwdActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  申请采购首页-->
        <activity
                android:name=".ui.purchase.PurchaseHomeActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  申请采购-->
        <activity
                android:name=".ui.purchase.PurchaseApplyActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  采购单详情-->
        <activity
                android:name=".ui.purchase.PurchaseInfoActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!--  教室预约列表-->
        <activity
                android:name=".ui.classroom.ClassRoomAppointmentActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>